<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Stays</title>
</head>

<body>
    <h3>All Listings</h3>
    <form method="get" action="/listing/new">
        <button>New</button>
    </form>


    <% for( let list of allListings ) { %>
        <a href="/listings/<%= list._id %>">
            <li>
                <%= list.title %>
            </li>
        </a>
        
        <% } %>



</body>

</html>