<% layout('templates/boilerplate') -%>

    <body class="bg-light">

        <div class="container mt-5 col-8 mb-5">
            <h3 class="mb-4 text-center">Add Your Property to our site</h3>
            <form method="POST" action="/listings" class="p-4 bg-white rounded shadow-sm" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Enter Title" name="title" id="title" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="3"></textarea>
                </div>

                <div class=" row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="price" id="price" placeholder="1600" class="form-control">
                    </div>

                    <div class="mb-3 col-md-4">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" id="image" placeholder="" class="form-control">
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" placeholder="India" id="country" class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" placeholder="Kunda,Pratapgarh,Uttar Pradesh" id="location"
                        class="form-control">
                </div>



                <button class="btn btn-dark btn-primary  add-btn">Add</button>
            </form>
        </div>

    </body>